---
layout: default
---

<form id="modeshift" method="get">
<div id="fullpage">

  <div class="section">
    <div class="row">
      <div class="small-8 large-6 small-centered columns">
        {% include destination.html %}
      </div>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <div class="small-8 large-6 small-centered columns">
        <div class="slide text-center">
          <h1>Do you typically drive there on Monday?</h1>
          {% include yes_no.html day="monday" %}
        </div>

        <div class="slide text-center">
          <h1>How about on Tuesday?</h1>
          {% include yes_no.html day="tuesday" %}
        </div>

        <div class="slide text-center">
          <h1>Wednesday?</h1>
          {% include yes_no.html day="wednesday" %}
        </div>

        <div class="slide text-center">
          <h1>Thursday?</h1>
          {% include yes_no.html day="thursday" %}
        </div>

        <div class="slide text-center">
          <h1>Friday?</h1>
          {% include yes_no.html day="friday" %}
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <div class="small-8 large-6 small-centered columns">
        {% include about_yourself.html %}
      </div>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <div class="small-10 large-6 small-centered columns">
        {% include commute.html %}
      </div>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <div class="small-10 large-8 small-centered columns">
        <h1>Sending awesome over the internet...</h1>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <div class="small-10 large-8 small-centered columns">
        <h1>You rock <span class="first-name"></span>!</h1>
      </div>
    </div>
  </div>

</div>
</form>

