<h1>Tell us about yourself</h1>

<div class="row">
  <div class="medium-6 columns">
    <input placeholder="First name" name="first_name" type="text"></input>
  </div>
  <div class="medium-6 columns">
    <input placeholder="Last name" name="last_name" type="text"></input>
  </div>
</div>

<input placeholder="Email" name="email" type="email"></input>
<input placeholder="Home Address" name="home_address" type="text"></input>
<div class="row collapse">
  <div class="small-10 columns">
    <input placeholder="City" name="home_city" type="text"></input>
  </div>
  <div class="small-2 columns">
    <span class="postfix">Michigan</span>
  </div>
</div>
<div id="mode-submit" class="button expand">That's me!</div>