<div class="hidden mode-prompt">
  <h2>Hey there, <span class="first-name"></span>! <small><a id="reset-form" href="#">Not you?</a></small></h2>
  <h1>How did you commute today?</h1>
</div>
<div class="mode-icons">
  <div class="row">
    <div class="small-4 columns">
      <input type="radio" name="mode" class="mode-radio" value="bus" id="bus">
      <label for="bus" class="map-icon-bus-station"></label>
    </div>

    <div class="small-4 columns">
      <input type="radio" name="mode" class="mode-radio" value="bike" id="bike">
      <label for="bike" class="map-icon-bicycling">
    </div>

    <div class="small-4 columns">
      <input type="radio" name="mode" class="mode-radio" value="walk" id="walk">
      <label for="walk" class="map-icon-walking">
    </div>
  </div>
</div>