  <div class="mode-icons">
    <div class="row">
      <div class="small-12 large-4 columns">
        <input type="radio" name="{{ include.daily_mode }}" class="mode-radio" value="bus" id="bus">
        <label for="bus" class="map-icon-bus-station"></label>
      </div>

      <div class="small-12 large-4 columns">
        <input type="radio" name="{{ include.daily_mode }}" class="mode-radio" value="bike" id="bike">
        <label for="bike" class="map-icon-bicycling">
      </div>

      <div class="small-12 large-4 columns">
        <input type="radio" name="{{ include.daily_mode }}" class="mode-radio" value="walk" id="walk">
        <label for="walk" class="map-icon-walking">
      </div>

      <div class="small-12 large-4 columns">
        <input type="radio" name="{{ include.daily_mode }}" class="mode-radio" value="drive" id="drive">
        <label for="drive" class="map-icon-walking">
      </div>

      <div class="small-12 large-4 columns">
        <input type="radio" name="{{ include.daily_mode }}" class="mode-radio" value="carpool" id="carpool">
        <label for="carpool" class="map-icon-walking">
      </div>
    </div>
  </div>