<h1>Where are you headed?</h1>
<select id="destination" name="dest">
  <option value="null"></option>
  <option value="spectrum">Spectrum Health</option>
  <option value="gvsu">GVSU</option>
  <option value="st-marys">St Mary's</option>
  <option value="msu">MSU</option>
  <option value="other">Somewhere else</option>
</select>

<div id="destination-address" class="hide">
  <input placeholder="Place Name" name="dest_name" type="text"></input>
  <div class="row collapse">
    <div class="small-7 columns">
      <input placeholder="Address" name="dest_address" type="text"></input>
    </div>
    <div class="small-5 columns">
      <span class="postfix">Grand Rapids, Michigan</span>
    </div>
    <div id="destination-address-submit" class="button expand">I'm going here</div>
  </div>
</div>